@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "poppins", sans-serif;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: #23242a;

}
.box{
    position: relative;
    width: 370px;
    height: 450px;
    background-color: #1c1c1c;
    border-radius: 50px 5px;
    overflow: hidden;
}

.box::before{
    content: "";
    position: absolute;
    top: -50%;
    left: -50%;
    width: 370px;
    height: 450px;
    background: linear-gradient(60deg,transparent,#34ebcf,#34ebcf);
    transform-origin: bottom right;
    animation: animated 6s linear infinite;
    
}

.box::after{
    content: "";
    position: absolute;
    top: -50%;
    left: -50%;
    width: 370px;
    height: 450px;
    background: linear-gradient(60deg,transparent,#eb4634,#eb4634);
    transform-origin: bottom right;
    animation: animated 6s linear infinite;
    animation-delay: -3s;
}

@keyframes animated {

    0%{
        transform: rotate(0deg);
    }

    100%{
        transform: rotate(360deg);
    }


}

form{
    position: absolute;
    inset: 2px;
    border-radius: 50px 5px;
    background: #28292d;
    z-index: 10;
    padding: 30px 30px;
    display: flex;
    flex-direction: column;

}

h2{
    color: #34ebcf;
    font-size: 35px;
    font-weight: 500;
    text-align: center;
}

.input-bx{
    position: relative;
    width: 300px;
    margin-top: 35px;
}

.input-bx input{
    position: relative;
    width: 100%;
    padding: 20px 10px 10px;
    outline: none;
    border: none;
    background: transparent;
    color: #23242a;
    font-size: 1em;
    letter-spacing: 0.05em;
    z-index: 10;
}

input[type="submit"]{
    font-size: 20px;
    border: none;
    outline: none;
    background: #34ebcf;
    padding: 5px;
    margin-top: 40px;
    border-radius: 90px;
    font-weight: 600;
    cursor: pointer;
}

input[type="submit"]:hover{
    background-color: #eb4634;
}

input[type="submit"]:active{
    background: linear-gradient(90deg, #34ebcf, #eb4634);
    opacity: 0.8;
}

.input-bx span{
    position: absolute;
    left: 0;
    padding: 20px 10px 10px;
    font-size: 1em;
    color: #8f8f8f;
    pointer-events: none;
    letter-spacing: 0.05;
    transition: 0.5s;

}

.input-bx input:valid ~ span,
.input-bx input:focus ~ span{
    color: #34ebcf;
    transform: translateX(-10px) translateY(-30px);
    font-size: 0.75em;

}

.input-bx i{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background-color: #34ebcf;
    border-radius: 5px;
    transition: 0.5s;
    pointer-events: none;
    z-index: 9;
}

.input-bx input:valid ~ i,
.input-bx input:focus ~ i{
    height: 44px;
}

.links{
    display: flex;
    justify-content: space-between;
}

.links a{
    margin: 25px 0;
    font-size: 1em;
    color: #60a096;
    text-decoration: none;

}
.links a:hover, .links a:nth-child(2){
    color: #34ebcf;
}

.foot{
    display: flex;
    flex-direction: column;
    position: absolute;
    bottom: 50px;
    color: #60a096;
    align-items: center;
    justify-content: center;
   
}



.social img{
    width: 40px;
    height: 40px;
    margin-top: 10px;
    
}
